/*
* @Introduce:          首页页面布局样式
* @Author:             HongqingCao
* @Date:               2018-06-25 17:37:22
* @Last Modified by:   HongqingCao
* @Last Modified time: 2018-06-27 12:29:31
*/
.cover{
    display: flex;
    background: rgb(240, 240, 240);
    height: 100vh;
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .cover-main{
        -ms-flex: 1;
        flex: 1;
        margin: -20px 16px 0;
        text-align: center;
        z-index: 1;
        p{
           line-height: 1.5rem;
           margin: 1em 0;
        }
        h1{
            color: inherit;
            font-size: 37px;
            margin: .625rem 0 1rem;
            position: relative;
            text-align: center;
        }
        a{
            display: block;
            text-decoration: none;
            :hover{
                cursor: pointer;
            }
        }
        .anchor{
            display: inline-block;
            text-decoration: none;
            transition: all .3s;
            color:#35495e;
            font-size: 37px;
        }
        blockquote{
            text-align: center;
            p{
              strong{
                font-size: 22px;
                 color:#35495e;
                 font-weight: normal;
              }
            }
        }
        ul{
            line-height: 1.8;
            list-style-type: none;
            margin: 1em auto;
            max-width: 500px;
            padding: 0;
            overflow: hidden;
            li{
            float: left;
            padding: 5px;
            a{
                cursor: pointer;
                display: block;
                transition: color 1s;
                &:hover{
                    color:#41b663;
                }
                &:after{
                    content: "、";
                    height: 100%;
                    width: 5px;
                    line-height: 100%;
                }
            }
            sup {
                position:absolute;
                margin-top:-37px;
                width:30px;
                height:15px;
                background-image: url(../../assets/new.gif);
                background-repeat: no-repeat;
                }
            }
        }
        .github{
            border: 1px solid var(--theme-color,#41b663);
            border-radius: 2rem;
            box-sizing: border-box;
            color: var(--theme-color,#41b663);
            display: inline-block;
            font-size: 1.05rem;
            letter-spacing: .1rem;
            margin: .5rem 1rem;
            padding: .75em 2rem;
            text-decoration: none;
            transition: all .15s ease;
        }
        .getstart{
            border: 1px solid var(--theme-color,#41b663);
            border-radius: 2rem;
            box-sizing: border-box;
            background-color: var(--theme-color,#41b663);
            color: #fff;
            display: inline-block;
            font-size: 1.05rem;
            letter-spacing: .1rem;
            margin: .5rem 1rem;
            padding: .75em 2rem;
            text-decoration: none;
            transition: all .15s ease;
        }
    }
}
.github-corner{
    border-bottom: 0;
    position: fixed;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 1;
    a{
        display: block;
        svg{
            color: #fff;
            fill: var(--theme-color,#41b663);
            height: 80px;
            width: 80px;
        }
        &:hover{
            svg{
                .octo-arm {
                  animation: a .56s ease-in-out
                }
            }
            @keyframes a {
                0%,to {
                    transform: rotate(0)
                }
            
                20%,60% {
                    transform: rotate(-25deg)
                }
            
                40%,80% {
                    transform: rotate(10deg)
                }
            }
        }
    }

}